# MySQL Connector를 활용한 CRUD 및 테이블 삭제 예제

In [1]:
# 셀 1: 필수 라이브러리 설치
# JupyterLab에서 이 셀을 실행하여 mysql-connector-python을 설치합니다.
!pip install mysql-connector-python

# 셀 2: MySQL 연결 설정 및 테이블 생성
import mysql.connector

# MySQL 연결 설정 (사용자 정보에 맞게 수정하세요)
config = {
    'user': 'evan',
    'password': '123456',
    'host': 'localhost',
    'database': 'de_etl_book'
}

# 테이블이 없다면 생성
try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255),
            age INT
        )
    """)
    conn.commit()
    print("users 테이블이 성공적으로 생성되었거나 이미 존재합니다.")
except mysql.connector.Error as err:
    print(f"테이블 생성 오류: {err}")
finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

# 셀 3: CREATE (데이터 삽입)
def create_data(name, age):
    try:
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()
        sql = "INSERT INTO users (name, age) VALUES (%s, %s)"
        cursor.execute(sql, (name, age))
        conn.commit()
        print(f"'{name}' 데이터가 성공적으로 삽입되었습니다.")
    except mysql.connector.Error as err:
        print(f"데이터 삽입 오류: {err}")
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

create_data("김철수", 25)

# 셀 4: READ (데이터 조회)
def read_data():
    try:
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()
        sql = "SELECT * FROM users"
        cursor.execute(sql)
        records = cursor.fetchall()
        print("현재 users 테이블의 데이터:")
        for row in records:
            print(f"ID: {row[0]}, 이름: {row[1]}, 나이: {row[2]}")
    except mysql.connector.Error as err:
        print(f"데이터 조회 오류: {err}")
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

read_data()

# 셀 5: UPDATE (데이터 수정)
def update_data(user_id, new_age):
    try:
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()
        sql = "UPDATE users SET age = %s WHERE id = %s"
        cursor.execute(sql, (new_age, user_id))
        conn.commit()
        if cursor.rowcount > 0:
            print(f"ID {user_id}의 나이가 {new_age}로 성공적으로 수정되었습니다.")
        else:
            print(f"ID {user_id}를 가진 사용자가 없습니다.")
    except mysql.connector.Error as err:
        print(f"데이터 수정 오류: {err}")
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

update_data(1, 26)
read_data()

# 셀 6: DELETE (데이터 삭제)
def delete_data(user_id):
    try:
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()
        sql = "DELETE FROM users WHERE id = %s"
        cursor.execute(sql, (user_id,))
        conn.commit()
        if cursor.rowcount > 0:
            print(f"ID {user_id}의 데이터가 성공적으로 삭제되었습니다.")
        else:
            print(f"ID {user_id}를 가진 사용자가 없습니다.")
    except mysql.connector.Error as err:
        print(f"데이터 삭제 오류: {err}")
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

delete_data(1)
read_data()

# 셀 7: 테이블 삭제 (DROP TABLE)
def drop_table(table_name):
    try:
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()
        sql = f"DROP TABLE IF EXISTS {table_name}"
        cursor.execute(sql)
        conn.commit()
        print(f"테이블 '{table_name}'가 성공적으로 삭제되었습니다.")
    except mysql.connector.Error as err:
        print(f"테이블 삭제 오류: {err}")
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

drop_table("users")

/bin/bash: line 1: pip: command not found
users 테이블이 성공적으로 생성되었거나 이미 존재합니다.
'김철수' 데이터가 성공적으로 삽입되었습니다.
현재 users 테이블의 데이터:
ID: 1, 이름: 김철수, 나이: 25
ID 1의 나이가 26로 성공적으로 수정되었습니다.
현재 users 테이블의 데이터:
ID: 1, 이름: 김철수, 나이: 26
ID 1의 데이터가 성공적으로 삭제되었습니다.
현재 users 테이블의 데이터:
테이블 'users'가 성공적으로 삭제되었습니다.

# SQLAlchemy를 활용한 CRUD 및 테이블 삭제 예제

In [4]:
# 셀 1: 필수 라이브러리 설치
# 이 셀을 실행하여 sqlalchemy와 mysql-connector-python을 설치합니다.

# 셀 2: SQLAlchemy 설정 및 테이블 생성
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker, declarative_base

# MySQL 연결 설정 (사용자 정보에 맞게 수정하세요)
DATABASE_URL = "mysql+mysqlconnector://evan:123456@localhost/de_etl_book"
engine = create_engine(DATABASE_URL)
Base = declarative_base()

# 테이블을 파이썬 클래스로 정의 (ORM)
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    age = Column(Integer)

    def __repr__(self):
        return f"<User(id={self.id}, name='{self.name}', age={self.age})>"

# 테이블이 없다면 생성
Base.metadata.create_all(engine)
print("users 테이블이 성공적으로 생성되었거나 이미 존재합니다.")

# 세션 생성 (데이터베이스 작업 단위)
Session = sessionmaker(bind=engine)

# 셀 3: CREATE (데이터 삽입)
def create_data_orm(name, age):
    session = Session()
    try:
        new_user = User(name=name, age=age)
        session.add(new_user)
        session.commit()
        print(f"'{name}' 데이터가 성공적으로 삽입되었습니다.")
    except Exception as e:
        session.rollback()
        print(f"데이터 삽입 오류: {e}")
    finally:
        session.close()

create_data_orm("이영희", 30)

# 셀 4: READ (데이터 조회)
def read_data_orm():
    session = Session()
    try:
        users = session.query(User).all()
        print("현재 users 테이블의 데이터:")
        for user in users:
            print(user)
    except Exception as e:
        print(f"데이터 조회 오류: {e}")
    finally:
        session.close()

read_data_orm()

# 셀 5: UPDATE (데이터 수정)
def update_data_orm(user_id, new_age):
    session = Session()
    try:
        user = session.query(User).filter_by(id=user_id).first()
        if user:
            user.age = new_age
            session.commit()
            print(f"ID {user_id}의 나이가 {new_age}로 성공적으로 수정되었습니다.")
        else:
            print(f"ID {user_id}를 가진 사용자가 없습니다.")
    except Exception as e:
        session.rollback()
        print(f"데이터 수정 오류: {e}")
    finally:
        session.close()

update_data_orm(1, 31)
read_data_orm()

# 셀 6: DELETE (데이터 삭제)
def delete_data_orm(user_id):
    session = Session()
    try:
        user = session.query(User).filter_by(id=user_id).first()
        if user:
            session.delete(user)
            session.commit()
            print(f"ID {user_id}의 데이터가 성공적으로 삭제되었습니다.")
        else:
            print(f"ID {user_id}를 가진 사용자가 없습니다.")
    except Exception as e:
        session.rollback()
        print(f"데이터 삭제 오류: {e}")
    finally:
        session.close()

delete_data_orm(1)
read_data_orm()

# 셀 7: 테이블 삭제
def drop_table_orm():
    Base.metadata.drop_all(engine)
    print("users 테이블이 성공적으로 삭제되었습니다.")

drop_table_orm()

users 테이블이 성공적으로 생성되었거나 이미 존재합니다.
'이영희' 데이터가 성공적으로 삽입되었습니다.
현재 users 테이블의 데이터:
<User(id=1, name='이영희', age=30)>
ID 1의 나이가 31로 성공적으로 수정되었습니다.
현재 users 테이블의 데이터:
<User(id=1, name='이영희', age=31)>
ID 1의 데이터가 성공적으로 삭제되었습니다.
현재 users 테이블의 데이터:
users 테이블이 성공적으로 삭제되었습니다.